<!-- 全体に反映するview -->
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- headerの貼り付け -->
    <%= render 'layouts/header' %>
      <main>
         <!-- noticeの呼び出し -->
        <p id="notice"><%= notice %></p>
        <%= yield %>
        <!-- yield がないと、各ページの内容を表示ができない -->
      </main>
      <!-- fotterの貼り付け  -->
    <%= render 'layouts/footer' %>
  </body>
</html>
<!-- 全体に反映するview -->